
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../GAME_IMAGES/Dog.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

.game-container pre{
    background-color: rgb(0, 0, 0); 
    color: rgb(227, 209, 227);
    height: 100px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

.message-container pre{
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    height: 0px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
    margin-top: 120px;
    margin-right: 230px;
}

.input-container {
    background-color: rgb(0, 0, 0); 
    color: rgb(232, 208, 208);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 110px;
}

.trademark-container {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: rgb(255, 255, 255); 
    font-size: 16px; 
} 

button {
    margin: 30px;
    padding: 10px 30px;
    background-color: #000000;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 33px;
    font-weight: bolder;
    font-style: italic;
    box-shadow: 7px 8px 16px 0px rgba(255, 255, 255, 0.815);
    transition: background-color 0.5s, transform 0.6s;
    margin-left: 1300px; 
    margin-right: 50px;
    margin-top: -120px;
}

button:hover {
    background-color: lightgrey;
    color: rgb(0, 0, 0);
    box-shadow: 7px 8px 16px 0px rgba(124, 148, 233, 0.861);
}

button:active {  
    transform: scaleY(0.15) scaleX(0.77);
} 