{% extends 'Games/base.html' %}


{% load static %}


{% block css %}

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'CSS/games/Game_tem_.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
{% endblock css %}




{% block content %}
<div class="section-wrapper" id="games-section"
    style="background: url('{% static '/media/Games/bg1.jpg' %}') no-repeat; background-size: cover; background-position: center;">

    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic">
                            <img src="{% static '/media/Game_logo/brickbreaker.avif' %}" alt="Break_breaker" style="width: 350px; height: 300px; border-radius: 5%;
border: 1px solid white;">

                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>Brick Breaker</h3>
                                <span>Break, bounce, and conquer your way through endless levels of excitement in Brick
                                    Breaker! </span>
                            </div>
                            <p style="margin-bottom: 50px;">Ready to smash, bounce, and rise to the top of the
                                leaderboard? Gear up, hone your reflexes, and embark on the ultimate brick-breaking
                                journey. Unleash your inner demolisher and conquer the challenge now!</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Studios:</span> By Vaishvik Sharma</li>
                                            <li><span>Date Launched:</span> Feb, 2024</li>

                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Status:</span> Airing</li>
                                            <li><span>Genre:</span> Action, Adventure</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="https://github.com/vaishviksharma/BRICK-BREAKER-GAME" class="follow-btn">
                                    <button class="btn btn-primary">Download <i class='bx bxs-download'></i></button>
                                </a>
                                <a href="{% url 'brick' %}" class="follow-btn"><button class="btn btn-primary">Play
                                        Now</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="details_of_play">
        <!-- Here is going to be the details about how to play  -->
        <h1 style="color: aliceblue; font-size: 40px; text-align: center; margin-bottom: 60px; margin-top: 100px;">
            Instructions and Rules
            <hr>
        </h1>

        <div class="how_to_play">

            <div class="content">
                <div class="heading_para">
                    <span class="headin_para1"></span>
                    <h2>Objective:</h2>
                </div>

                <ul>
                    <li>Destroy all the bricks on the screen using the ball and paddle.</li>
                </ul>

                <div class="heading_para">
                    <span class="headin_para1"></span>
                    <h2>Controls:</h2>
                </div>

                <div class="list-container">
                    <ul class="list">
                        <li>Use the <strong>left</strong> and <strong>right arrow keys</strong> or <strong>A</strong>
                            and <strong>D keys</strong> to move the paddle horizontally.</li>
                        <li>Press the <strong>space bar</strong> to launch the ball and start the game.</li>
                    </ul>
                </div>


                <div class="heading_para">
                    <span class="headin_para1"></span>
                    <h2>Gameplay:</h2>
                </div>

                <div class="list-container">
                    <ul class="list">
                        <li>Control the paddle to bounce the ball and prevent it from falling below the paddle.</li>
                        <li>Hit the ball with the paddle to destroy the bricks on the screen.</li>
                        <li>Each brick destroyed earns points.</li>
                        <li>Avoid letting the ball fall off the bottom of the screen.</li>
                        <li>Break all the bricks to complete the level and advance to the next.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock %}