{% extends 'developer/developer.html' %}
{% load static %}

{% block title %}Mayank Sharma{% endblock title %}
{% block body %}
<body className='snippet-body'>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Developer</title>
    <link rel="shortcut icon" href="{% static 'media/logojarvis.png' %}" type="image/x-icon">

        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="card">
            <div class="card__img">
                <img src="{% static 'media/developer_photo/Mayank.png' %}" alt="Profile_photo">
            </div>
            <div class="card__name">
                <h2>MAYANK SHARMA</h2>
            </div>
            <div class="card__job">
                <span>Website Designer</span>
            </div>
            <div class="card__link">
                <a href="https://www.linkedin.com/in/mayank-sharma-9b4476289/">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </a>
            <a href="https://github.com/MAYANK12SHARMA">
                <i class='bx bxl-github'></i>
            </a>
                <a href="#">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="#">
                    <i class='bx bxl-facebook'></i>
            </div>
            <div class="card__btn">
                <a href="https://wa.me/+919557560564">
                <button class="card__btn-contact" >Contact me</button>
                </a>
            </div>
        </div>
    </body>
    <script src="./assets/js/html.js"></script>

    </html>
    <script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript'>src='#'</script>
    <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
        myLink.addEventListener('click', function (e) {
            e.preventDefault();
        });</script>

</body>

{% endblock body %}
