
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body{
    background: url('static/media/bglogin.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;



}

.login-section{
    border: 2px solid #181a1e;
    height: 560px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    
    border-radius: 10px;
    transition: .3s;
}

.login-section:hover{
    box-shadow: 0 0 60px #181a1e;
}

.login-section .formbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;               /* height of contetnt */
    width: 100%;
}

.formbox h2{
    text-align: center;
    font-size: 35px;
}


.formbox .input-box{
    width: 340px;
    height: 50%;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
    padding: 10px;
    position: relative;

    
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
    color: #fff;
}

.input-box label{  
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: .3s ease;
    
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
    cursor: pointer;
    
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    
}

.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    


}

.remember-password label input{
    accent-color: #181a1e;
    margin: 3px;

}
.remember-password label:hover{
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    
}
.remember-password a{
    text-decoration: none;
    font-weight: 600;
    color: #fff;

}


.btn {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background-color: #ff3434;
    box-shadow: rgba(0,0,0,0.4);

}

.btn:hover{
    background-color: #181a1e;
    color: #fff;
}


.create-account{
    font-size: 14.5px;
    text-align: center;
    margin-top: 25px;
    
}


.create-account p a{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.create-account p a:hover{
    columns: #181a1e;
    font-weight: 600;
    text-decoration: underline;
}

#usericon{
    color: #fff;
    font-size: 70px;
    margin-left: 150px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.social_account{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 460px;
    margin-right: 120px;
    margin-left: 120px ;
    justify-content: space-between;
    

}

.social_account .btn{
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    box-shadow: rgba(0,0,0,0.4);

}

.social_account i{
    font-size: 35px;
    color: #fff;
}

.or {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}

.social_account .btn i:hover{
    color: #181a1e;
}